<div class="chat-container flex column">
  <div class="main-chat">
    <div class="chat-nav flex">
      <a href="/profile-page">Profile</a>
      <span>Footsie</span>
      <a href="/profile-page">Logout</a>
    </div>
    <div id="dom-messages">
      {{#each chat.messages}}
      <div class="bullshit message">
        {{user}}:
        {{message}}
      </div>
      {{/each}}
    </div>
  </div>
  <div class="input flex full-width">
    <input type="text" id="new-message">
    <button id="send-button">Send</button>
  </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../../javascripts/chat.js"></script>