<div class="index-container flex">
  <div class="index-container-two flex column">
    <div class="h1-container">
      <h1>Welcome To Footsie</h1>
    </div>
    {{!-- <div class="logo-container">
      <img src="https://image.flaticon.com/icons/svg/1490/1490449.svg" alt="">
    </div> --}}
    <div class="index-links flex">
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    </div>
  </div>
</div>